.main-nav{
    min-height: 50px;
    width: 100%;
    margin: 0% auto ;
    border-top: solid 3px #000000;
    box-shadow: 0px 1px 5px #00000033;
    position: fixed;
    z-index: 5;
    top: 0%;
    left: 0%;
    background-color: rgb(255, 210, 218);
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar{
    height: 100%;
    min-width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    padding: 5px 25px;
    font-size: large;
}

.nav-item{
    margin: 0px 3px;
    font-size: small;
    font-weight:500;
    text-decoration: none;
    color: rgb(69, 69,69);
    transition: 0.2s;
}
.nav-btn{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 12px;
}


.navbar form{
    flex-grow: 1;
    font-size: 20px;
    color: purple;
    padding: 0px 12px;
    position: relative;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.navbar form input{
    min-width: 90%;
    margin: 0;
    padding: 8px 10px 8px 32px;
    font-size: 13px;
    border: solid 1px purple;
    border-radius: 3px;
    background-color: rgb(255, 210, 218);
}

.navbar form .search-icon{
    position: absolute;
    left: 25px;
    top: 8px;
}
.nav-links{
    padding: 7px 13px;
    border: solid 1px purple;
    border-radius: 3px;
    background-color: rgb(255, 210, 218);
    cursor: pointer;
    color: black;
}
.nav-btn:hover{
    background-color: rgb(90, 10, 90);
    color: white;
}
.nav-p{
    font-size: 30px;
    font-weight: normal;
    color: rgb(0, 0, 0);
    border-radius: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-p:hover{
    color: rgb(178, 0, 178);
    
}
